
rtti-github-markdown ::ng-deep {
    h1#typescript-rtti { display: none; }
    a[href="https://www.npmjs.com/package/typescript-rtti"] {
        img {
            display: none;
        }
    }
    
    a[href="https://circleci.com/gh/typescript-rtti/typescript-rtti/tree/main"] {
        img {
            display: none;
        }
    }

    
}
